/* RESETS */
* {
    margin: 0%;
    padding: 0%;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;    
}

/* FONTS */
@font-face{
    font-family:"LouisGeorgeCafe";
    src:url("fonts/Louis\ George\ Cafe.ttf")
}

@font-face{
    font-family:"TinDoghouse";
    src:url("fonts/TinDog.ttf")
}

/* GENERAL ELEMENTS */
body {
    font-family:LouisGeorgeCafe;
}

a {
    font-style: oblique;
    font-weight: bold;
    color: inherit;
    text-decoration: none;
    opacity: .7;
}

a:hover {
    opacity: 1;
}

/* SPECIFIC ELEMENS */

/* Header */
.hero {
    position: relative;
}
.heropic {
    height: 38vh;
    width: 100%;
    object-fit: cover;
}

/* Main */

/* Footer */
footer {
    font-size: 1.rem;
    color: #999;
    min-height: 200px;
    background-color: #333;
    padding: 3%;
}
#Logo-footer {
    max-width: 200px;
    position: relative;
}
#EasterEgg {
    color: #333;
    font-style: normal;
    cursor: pointer;
}
.buttons {
    height: 48px;
    margin-right: 32px;
}
li {
    padding-bottom: 1rem;
}
.agb {
    margin-right: 3rem;
}